<a href="https://colab.research.google.com/github/Hawawou/WTM-100-DOC/blob/main/Day10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#for loops
a = [1, 2, 3, 4, 5]
for i in a:
  print(i)

1
2
3
4
5

In [ ]:
#iter
iter('foobar')

An iterable is an object that can be used in iteration. An iteration is a repetitive execution of the same block of code over and over

In [ ]:
iter(a)

In [ ]:
iter({'foo', 'bar','baz'})

In [ ]:
iter(['foo', 'bar', 'baz'])

strings, list, tuple, dict, set and frozenset are iterable

In [ ]:
itr = iter(a)
itr

In [ ]:
next(itr)

2

next() obtains the next value

In [ ]:
next(itr)

4

In [ ]:
#all values have been called. StopIteration error is raised
next(itr)

StopIteration: ignored

In [3]:
a = ['foo', 'bar', 'baz']
a

['foo', 'bar', 'baz']

In [6]:
itr1 = iter(a)
itr2 = iter(a)
next(itr1)

'foo'

In [8]:
next(itr1)

'baz'

In [10]:
next(itr1)

StopIteration: ignored

In [12]:
x = ['python', 'java', 'php', 'ruby']
itr = iter(x)
list(itr)

['python', 'java', 'php', 'ruby']

In [15]:
x = ['python', 'java', 'php', 'ruby']
itr = iter(x)
tuple(itr)

('python', 'java', 'php', 'ruby')

In [17]:
x = ['python', 'java', 'php', 'ruby']
itr = iter(x)
set(itr)

{'java', 'php', 'python', 'ruby'}

In [22]:
y = ['python', 'java', 'php', 'ruby']
for i in y:
  print(i)

python
java
php
ruby

In [24]:
#iterating through a dictionary
d = {'python': 1, 'java': 2, 'php': 3, 'ruby': 4} 
for i in d:
  print(i)

python
java
php
ruby

iterating through a dictionary assigns the var to the key

In [27]:
#assigning dictionary value
for i in d:
  print(d[i])

1
2
3
4

In [30]:
#alternatively
for a in d.values():
  print(a)

1
2
3
4

In [36]:
#getting both the keys and values
d = {'python': 1, 'java': 2, 'php': 3, 'ruby': 4} 
for i, a in d.items():
  print('i =', i, ', a =', a)

i = python , a = 1
i = java , a = 2
i = php , a = 3
i = ruby , a = 4

In [40]:
#range() function
x = range(8)
list(x)
# for n in x:
  # print(n)

[0, 1, 2, 3, 4, 5, 6, 7]

In [43]:
tuple(x)
set(x)

{0, 1, 2, 3, 4, 5, 6, 7}

In [45]:
#break and continue statement
for i in y:
  if 'j' in i:
    break
  print(i)

python

In [48]:
for i in y:
  if 'j' in i:
    continue
  print(i)

python
php
ruby

In [51]:
#else clause
for i in y:
  print(i)
else:
  print('Done!')

python
java
php
ruby
Done!

In [52]:
for i in y:
  if i == 'php':
    break
  print(i)
else:
  print('Done!')

python
java