<a href="https://colab.research.google.com/github/Hawawou/WTM-100-DOC/blob/main/Day1_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def addUp(arr, p):
  for i in arr:
    if p - i in arr:
      return True
    else:
      return False

#Examples
print(addUp([12, 10, 9, 6], 18))
print(addUp([56, 20, 1, 45], 50))

True
False

In [ ]:
#Day 2
#creating variables
sample_variable="Hello world"
print (sample_variable)

Hello world

In [ ]:
#Variable names that do not work
#*name = Hawa - variable names cannot start with special characters 
#4greetings = "Good morning" - variable name cannot start with a number
#my-name = "Hawa" - should be separated by an underscore
#my name = "Hawa" - should be separated by an underscore
#.my_name="Hawa"

SyntaxError: ignored

In [ ]:
#Day 3
var1 = 2+2 #data type - integer
print (var1)

4

the variable stores the value of 2+2

In [ ]:
var2 = 3+2/5 #data type - float
print (var2)

3.4

3 is added with the floating point number 2/5 and stored in var2

In [ ]:
var3 = 4*16 # data type - integer
print (var3)

64

4 is multiplied by 16 and the value stored in var 3

In [9]:
var4 = 4**6 #integer
print (var4)

4096

4 is multiplied 6 times

In [11]:
var5 = 'Hello'+' '+'world'#integer
print(var5)

Hello world

The string 'Hello' is concatenated with the string 'world'

In [14]:
var6 = 'Hello world ' * 5 # string
print(var6)

Hello world Hello world Hello world Hello world Hello world

Here hello world is printed 5 times since multiplying a string by an integer say n returns the string n times

In [17]:
var7 = 4 % 3 #integer
print(var7)

1

the modulo expression returns the remainder when a number is divided by another