<a href="https://colab.research.google.com/github/Hawawou/WTM-100-DOC/blob/main/Day13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
app = {
    "first": "whatsapp",
    "second": "twitter",
    "third": "facebook"
}
app

{'first': 'whatsapp', 'second': 'twitter', 'third': 'facebook'}

In [ ]:
numbers = [1, 2, 3, 4, 5]
def square(number):
  return number ** 2

squared = map(square, numbers)
list(squared)

[1, 4, 9, 16, 25]

map() uses less memory than the for loop and it is more efficient than

In [ ]:
#Alternatively
squared = []
for num in numbers:
  squared.append(num**2)
print(squared)

[1, 4, 9, 16, 25]

In [ ]:
str_num = ["3", "4", "9", "2", "23", "56"]
int_num = map(int, str_num)
list(int_num)

[3, 4, 9, 2, 23, 56]

In [ ]:
abs(-23)

23

In [ ]:
num = [-2, -3, -4, -5, -6]
abs_values = map(abs, num)
list(abs_values)

[2, 3, 4, 5, 6]

In [ ]:
words = ["Welcome", "to", "Real", "Python"]
list(map(len, words))

[7, 2, 4, 6]

In [ ]:
squared = map(lambda num: num ** 2, numbers)
list(squared)

[1, 4, 9, 16, 25]

lambda functions useful when you need to pass an expression based function to map()

In [ ]:
first = [1, 2, 3, 4]
second = [5, 6, 7, 8]

list(map(pow, first, second))

[1, 64, 2187, 65536]

In [ ]:
list(map(lambda x,y:x*y, first, second))

[5, 12, 21, 32]

In [ ]:
#transforming iterables of string
string_it = ["processing", "strings", "with", "string_it"]
list(map(str.capitalize, string_it))

['Processing', 'Strings', 'With', 'String_it']

In [ ]:
list(map(str.upper, string_it))

['PROCESSING', 'STRINGS', 'WITH', 'STRING_IT']

In [ ]:
list(map(str.swapcase, string_it))

['PROCESSING', 'STRINGS', 'WITH', 'STRING_IT']

In [ ]:
with_dots = ["processing..", "..strings", "..with" ]
list(map(lambda s:s.strip("."), with_dots))

['processing', 'strings', 'with']

In [ ]:
#Removing punctuation
import re
def remove_punc(word):
  return re.sub(r'[!?.:;,"()-]', "", word)

remove_punc("..Python!,")

'Python'

In [ ]:
text = """Some people, when confronted with a problem, think 
..."I know, I'll use regular expressions."
...Now they have two problems"""
words = text.split()
words

['Some',
 'people,',
 'when',
 'confronted',
 'with',
 'a',
 'problem,',
 'think',
 '..."I',
 'know,',
 "I'll",
 'use',
 'regular',
 'expressions."',
 '...Now',
 'they',
 'have',
 'two',
 'problems']

In [ ]:
list(map(remove_punc, words))

['Some',
 'people',
 'when',
 'confronted',
 'with',
 'a',
 'problem',
 'think',
 'I',
 'know',
 "I'll",
 'use',
 'regular',
 'expressions',
 'Now',
 'they',
 'have',
 'two',
 'problems']

In [ ]:
#Caeser cipher
def rotate_chr(c):
  rot_by = 3
  c = c.lower()
  alphabet = "abcdefghijklmnopqrstuvwxyz"
  #keep punctuation amd whitespace
  if c not in alphabet:
    return c
  rotated_pos = ord(c) + rot_by
  #if the rotation is inside the whitespace
  if rotated_pos <= ord(alphabet[-1]):
    return chr(rotated_pos)
    #if the rotation goes beyond the alphabet
  return chr(rotated_pos - len(alphabet))

In [ ]:
ord("a") #takes a character as an argument and return the unicode

97

In [ ]:
"".join(map(rotate_chr, "hawaoutchapchet."))

'kdzdrxwfkdsfkhw.'

In [ ]:
#transforming iterables of numbers
#python handles multiple return values as tuple
def powers(x):
  return x ** 2, x ** 3

numbers = [2, 3, 5, 7]

list(map(powers, numbers))

[(4, 8), (9, 27), (25, 125)]

In [ ]:
import math
numbers = [1, 2, 3, 4, 5, 6, 7]
list(map(math.factorial, numbers))

[1, 2, 6, 24, 120, 720, 5040]