<a href="https://colab.research.google.com/github/Hawawou/WTM-100-DOC/blob/main/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Arrays must contain only thesame datatype
list1 = ["Hello", 1, "world", 2]
print(list1)

['Hello', 1, 'world', 2]

In [ ]:
var1 = "Hello " + "world!"
list1 = [1, "python", 2, "java", 3, "php", 4, "ruby", 5.1, "docker", 32.4, 56.2, 11.32, 55.66, var1]
print(list1)

[1, 'python', 2, 'java', 3, 'php', 4, 'ruby', 5.1, 'docker', 32.4, 56.2, 11.32, 55.66, 'Hello world!']

In [ ]:
list4 = [6, "django", 7, "vuejs", 8, "laravel", 9, "flask", 10, 786.9, 23.4, 12.4, 55.78, 98.07, 45.56]
a = list1 + list4
print(a)

[1, 'python', 2, 'java', 3, 'php', 4, 'ruby', 5.1, 'docker', 32.4, 56.2, 11.32, 55.66, 'Hello world!', 6, 'django', 7, 'vuejs', 8, 'laravel', 9, 'flask', 10, 786.9, 23.4, 12.4, 55.78, 98.07, 45.56]

In [1]:
list2 = [5, 6, 7.0, "eight", "nine"]
list3 = []
for i in list2:
  list3 = type(i)
  print(list3)

<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>